<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
    <h1>Pink Travel</h1>
    <p>SERVERUL FUNCTIONEAZA!!!!!!!!!!</p>
    <a href="/login">Login</a> | <a href="/register">Inregistrare</a>
    
    <hr>
    <h6>Am ales acest proiect deoarece îmi plac călătoriile.</h6>
</body>
</html>